# Core functionality - changes here should be rare!
/src/app.py                   @Toothless5143
/src/backend/database.py      @Toothless5143
/src/backend/routers/auth.py  @Toothless5143

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Toothless5143
